<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<!--Navigation bar-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="home">TimeTracker</a>
    </div>
  </div>
</nav>


<!--Sign up page to create account-->
<div class="loginContainer" align="center">
  <h1 align="center"><b>Sign Up</b></h1>

  <%= form_for @user do |u| %>
      <div class="container">

        <%= render 'shared/errors', object: u.object %>


        <label><b>First Name</b></label>
        <br>
        <%= u.text_field :first_name, placeholder: 'First Name' %>

        <br>

        <label><b>Last Name</b></label>
        <br>
        <%= u.text_field :last_name, placeholder: 'Last Name' %>

        <br>

        <label><b>Username</b></label>

        <br>
        <%= u.text_field :email, placeholder: 'Email Address' %>

        <br>

        <label><b>Password</b></label>

        <br>
        <%= u.password_field :password, placeholder: 'Password' %>

        <br><label><b>Confirm </b></label>
        <br>
        <%= u.password_field :password_confirmation, placeholder: 'Confirm Password' %>


        <br>
        <%= u.submit 'Sign Up', class: 'btn btn-primary' %>

        </br>
      </div>

      <h1>
      </h1>
  <% end %>

</div>

</body>
</html>
