<div class="editContainer" align="center">
  <h1 align="center"><b>Edit Activity</b></h1>

  <%= form_for @activity, :url => update_act_path, remote: true do |a| %>
      <div class="container">

        <%= render 'shared/errors', object:@activity %>

        <label><b>Activity Name</b></label>
        <%= a.text_field :a_name, :value => @activity.a_name %>

        <label><b>Category</b></label>
        <%= a.select :category_id, Category.all.collect { |c| [c.c_name, c.id] }, include_blank: false,
                     :selected => @activity.category %>

        <br>
        <%= a.submit 'Save', class: 'btn btn-primary' %>
        <!-- <button type="submit">Login</button> -->

        </br>
      </div>
  <% end %>


</div>