<!-- home.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Bootstrap 101 Template</title>

</head>



<!--IF THE USER IS LOGGED IN, DISPLAY THE FOLLOWING -->
<% if current_user %>
    <!--
    <style>
    .navbar {
      background-color:#2F4F4F
    }
    </style>
    -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TimeTracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Signed in as <%=current_user.email %></a></li>
            <li>
              <%= link_to 'Sign Out', sign_out_path, method: :delete %>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <h1 align = "center">Activities</h1>

    <ul id="Categories" class="connectedSortable">
      <!-- IF STATEMENT FOR THE LOOP BELOW IS NOT WORKING SO IT IS COMMENTED OUT -->
      <% @categories.each do |cats| %>
          <!-- <% if cats.user_id == current_user.id || cats.id == 1 %> -->
              <div class="panel-group">
                <div class="panel text-left">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#collapse<%= cats.id%>">
                        <%= cats.c_name %>
                      </a>
                    </h4>
                  </div>
                  <div id="collapse<%= cats.id%>" class="panel-collapse collapse">
                    <ul id="category_activities" class=".connectedSortable">
                      <% cats.activities.each do |activity| %>
                          <li class="list-group-item" id='<%=activity.id%>'>
                            <% if activity.hidden == false || activity.hidden == nil%>

                                <label class="my_label"><%= activity.a_name %></label>

                                <!-- Delete Activity -->
                                <%= link_to delete_act_path(activity.id), method: :delete, data: { confirm: "Are you sure?" } do %>
                                    <i class="fa fa-trash-o" aria-hidden="true" title="Delete"></i>
                                <% end %>


                                <!-- Edit activity -->
                                <button class="editActivity" style="border:none; padding:0; background-color: transparent">
                                  <i class="fa fa-pencil fa-fw" aria-hidden="true" title="Edit" id="editActivity"></i>
                                </button>


                                <!-- Hide activity -->
                                <!-- link_to hide_act_path(activity.id), method: :post do %> -->
                                <button class="hideActivity" style="border:none; padding:0; background-color: transparent">
                                  <i class="fa fa-eye" aria-hidden="true" title="Hide" id="item"></i>
                                </button>
                                <!-- % end %> -->

                            <% end %>
                      <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--<% end %> -->
      <% end %>
    </ul>

    <div id="activity_container">
      <ul id="Activities" class="connectedSortable" >

        <!-- List each activity in database -->

        <% @activities.each do |activity| %>
            <% if (activity.hidden == false || activity.hidden == nil) && activity.category_id == nil %>
                <li class="list-group-item" id='<%=activity.id%>' style="list-style: none;">


                  <!-- Display activity name -->

                      <label class="my_label"><%= activity.a_name %></label>



                      <!-- Delete Activity -->
                      <%= link_to activity, method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
                          <i class="fa fa-trash-o" aria-hidden="true" title="Delete"></i>
                      <% end %>

                      <!-- Edit activity -->
                      <%= link_to edit_act_path(activity.id)do %>
                      <button class="editActivity" style="border:none; padding:0; background-color: transparent">
                        <i class="fa fa-pencil fa-fw" aria-hidden="true" title="Edit" id="editActivity"></i>
                      </button>
                      <% end %>

                      <!-- Hide activity -->
                      <%= link_to activity, method: :post, :controller => :activities, :action => :set_hidden_true, remote: true do %>
                          <button class="hideActivity" style="border:none; padding:0; background-color: transparent">
                            <i class="fa fa-eye" aria-hidden="true" title="Hide" id="item"></i>
                          </button>
                      <% end %>

                </li> <!-- End of list item -->
            <% end %> <!-- End of if statement -->
        <% end %> <!-- End of activity loop -->
      </ul>
    </div>


    <ul class="pager">

      <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span>Previous </a></li>
      <li class="next"><a href="#"> Next<span aria-hidden="true">&rarr;</span></a></li>

      <!-- *****************NEW*********************** -->
      <%= form_for @activity, :url => create_act_path, remote: true do |a| %>
          <%= a.text_field :a_name, id: 'a_name_field', placeholder: 'Activity Name'%>
          <%= a.select :category_id, Category.all.collect { |c| [c.c_name, c.id] }, include_blank: "--No Category--" %>
          <%= a.submit 'Create', id: 'submitButton', class: 'btn btn-primary'%>
      <% end %>

      <%= form_for @category, :url => create_cat_path, remote: true do |c| %>
          <%= c.text_field :c_name, id: 'c_name_field', placeholder: 'Category Name'%>
          <%= c.submit 'Create', id: 'submitButton', class: 'btn btn-primary'%>
      <% end %>

      <!-- Button for showing all hidden items -->
      <%= link_to 'Unhide All', method: :post, :controller => :activities, :action => :unhide_all do %>
          <button class="showHidden" >Show Hidden</button>
      <% end %>

      <!-- Button to sort -->
      <button class="sortActivity">Sort</button>
      <button class="doneSorting">Done Sorting</button>

      <!-- ***************************************** -->

    </ul>

<!-- IF THE USER IS NOT LOGGED IN, DISPLAY THE FOLLOWING -->
<% else %>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TimeTracker</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <div class="loginContainer" align="center">
        <h1 align="center">
          <b>
            Please log in or sign up
          </b>
        </h1>

        <div class="container">
          <br>
          <%= button_to 'Login', sign_in_path, :method => 'get', class: 'btn' %>
          <br>
          <%= button_to 'Sign Up', sign_up_path, :method => 'get', class: 'btn' %>
        </div>

        <!--<div class="container" style="background-color:#D3D3D3">
          <input type="checkbox" checked="checked"> Remember me
          <span class="psw">Forgot <a align="center" href="#">password?</a></span>
        </div> -->
      </div>


<% end %>

<script>
//    $('.sortActivity').click(function () {
//        $('#Activities').sortable({
//            connectWith: ".connectedSortable",
//            containment: '#activity_container',
//            cursorAt: {left:event.offsetX, top:event.offsetY}, //to keep item near cursor NOT WORKING
//            update: function (event, ui) { //to save order NOT WORKING
//                var data = $(this).sortable('serialize');
//
//                // POST to server using $.post or $.ajax
////                $.ajax({
////                    data: data,
////                    type: 'POST',
////                    url: 'localhost:3000/activities'
////                });
//            }
//        });
//        $('#Activities').sortable('enable'); //To enable again once disabled
//        $('#Activities').disableSelection();
//
//        $('#Categories').sortable({
//            connectWith: ".connectedSortable"
//        });
//        $('#Categories').sortable('enable');
//        $('#Categories').disableSelection();
//
//        $('#category_activities').sortable({
//            connectWith: ".connectedSortable"
//        });
//        $('#category_activities').sortable('enable');
//        $('#category_activities').disableSelection();
//    });
//
//    $('.doneSorting').click(function() {
//        $('#Activities').sortable('disable');
//        $('#Categories').sortable('disable');
//        $('#category_activities').sortable('disable');
//    });
</script>

<!-- NEW 4/17 javascript for saving order-->
<script>
    var ready, set_positions;

    set_positions = function(){
        // loop through and give each task a data-pos
        // attribute that holds its position in the DOM
        $('.list-group-item').each(function(i){
            $(this).attr("data-pos",i+1);
        });
    }

//    ready = function(){

        // call set_positions function
        set_positions();
// ************NEW execept for #Activities
        $('#Activities').sortable({
            connectWith: ".connectedSortable"
        });
        $('#Activities').disableSelection();

//        $('#Categories').sortable({
//            connectWith: ".connectedSortable"
//        });
//        $('#Categories').disableSelection();

        $('#category_activities').sortable({
            connectWith: ".connectedSortable"
        });
        $('#category_activities').disableSelection();
// *******end of NEW

        $('#Activities li').click(function (){
            var myid = $(this).attr('id');
           alert($(this).attr('id'));
        });

        // after the order changes
        $('#Activities').sortable().bind('sortupdate', function(e, ui) {
            // array to store new order
            var updated_order = []
            // set the updated positions
            set_positions();


            // populate the updated_order array with the new task positions
            $('#Activities li').each(function(i){
                updated_order.push({ id: $(this).attr('id'), position: i });
            });

            // send the updated order via ajax
            $.ajax({
                type: "PUT",
                url: '/home/sort',
                data: { order: updated_order }
            });
        });

//        ******NEW 4/18/17
    $('#Categories li').click(function (){
        var myid = $(this).attr('id');
        alert($(this).attr('id'));
    });

    // after the order changes
    $('#Categories').sortable().bind('sortupdate', function(e, ui) {
        // array to store new order
        var updated_order = []
        // set the updated positions
        set_positions();


        // populate the updated_order array with the new task positions
        $('#Categories li').each(function(i){
            updated_order.push({ id: $(this).attr('id'), position: i });
        });

        // send the updated order via ajax
        $.ajax({
            type: "PUT",
            url: '/home/sort',
            data: { order: updated_order }
        });
    });

    $('#category_activities li').click(function (){
        var myid = $(this).attr('id');
        alert($(this).attr('id'));
    });


    // after the order changes
    $('#category_activities').sortable().bind('sortupdate', function(e, ui) {
        // array to store new order
        var updated_order = []
        // set the updated positions
        set_positions();


        // populate the updated_order array with the new task positions
        $('#category_activities li').each(function(i){
            updated_order.push({ id: $(this).attr('id'), position: i });
        });

        // send the updated order via ajax
        $.ajax({
            type: "PUT",
            url: '/home/sort',
            data: { order: updated_order }
        });
    });
//    *****end of NEW 4/18/17
//    }
</script>

<style>
  /*removes extra space from collapsible panels*/
  .panel-group {
    margin: 0 !important;
    padding:0 !important;
  }
</style>

</html>
