<% if current_user %>
    <li><span><%= current_user.email %></span></li>
    <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
<% else %>
    <li><%= link_to 'Sign In', sign_in_path %></li>
<% end %>

<% if current_user %>
    <div class='page-header'>
      <h1> Welcome back!</h1>
      <ul>
        <li>
          User: <%= current_user.email %>
        </li>
        <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
      </ul>
    </div>

<% else %>

    <h1>
      Please login or sign up!
      <li><%= link_to 'Sign In', sign_in_path %></li>
      <li><%= link_to 'Sign Up', sign_up_path %></li>

    </h1>

<% end %>