<body>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_for @category do |ca| %>
    <div class = "form-group">
      <div class = "row top-buffer text-center">
        <div class='col-md-3'>
          <%= ca.text_field :c_name %>
        </div>
      </div>

      <div class ="row top-buffer text-center">
        <div class="col-md-3">
          <%= ca.submit 'Create', class: 'btn btn-primary'%>
        </div>
      </div>
    </div>
<% end %>

</body>

