<!--This is the partial to display activities. This is used for the AJAX JS file for activities
    as we want to refresh only the contents of the "theActivities" div as opposed to refreshing the whole page-->

<ul id="Activities" class="connectedSortable" >

  <!-- Display each activity in database -->
  <% @activities.each do |activity| %>
      <!--Check if activity is not hidden and does not a part of a category-->
      <% if (activity.hidden == false || activity.hidden == nil) && activity.category_id == nil %>

          <!--Display only categories belonging to the user-->
          <% if(activity.user_id == current_user.id) %>

              <!--Pass activity id, used for hide and destroy js-->
              <div id="edit_activity_<%= activity.id%>">
                <!--Pass activity id, used for sortable-->
                <li class="list-group-item" id='<%=activity.id%>' style="list-style: none;">
                  <!-- Display activity name -->
                  <label class="my_label"><%= activity.a_name %></label>

                  <!-- Link to delete activity path to delete activity -->
                  <%= link_to destroy_act_path(activity.id), method: :delete,
                              data: { confirm: "Are you sure?" }, remote: true do %>
                      <!--Set trash can icon to delete link_to-->
                      <i class="fa fa-trash-o" aria-hidden="true" title="Delete" style="padding-left: 2%"></i>
                  <% end %>

                  <!-- Link to edit activity path to edit activity-->
                  <%= link_to edit_act_path(activity.id), remote: true do %>
                      <button class="editActivity" style="border:none; padding:0; background-color: transparent">
                        <!--Set pencil icon to edit link_to-->
                        <i class="fa fa-pencil fa-fw" aria-hidden="true" title="Edit" id="editActivity"></i>
                      </button>
                  <% end %>

                  <!-- Link to hide activity path to hide activity -->
                  <%= link_to hide_act_path(activity.id),method: :post, remote: true do %>
                      <button class="hideActivity" style="border:none; padding:0; background-color: transparent">
                        <!--Set eye slash icon to hide link_to-->
                        <i class="fa fa-eye-slash" aria-hidden="true" title="Hide" id="item"></i>
                      </button>
                  <% end %>

                  <!--############### MAY NEED TO DELETE ##################-->
                  <!--CODE TO DYNAMICALLY CREATE BUTTONS WITH UNIQUE IDS -->
                  <!--<label class="scroll-pane">-->
                  <!--<% (0..12).each do |am| %>-->
                      <!--<% if am < 12 %>-->
                          <!--<label><%=am%>:00 AM</label>-->
                          <!--<% (1..4).each do |amID| %>-->
                              <!--<button class = 'unfilled', id = 'timeAct<%=activity.id%><%=am%><%=amID%>', onclick="changeImages(this.id,<%=activity.id%>)">-->
                              <!--</button>-->
                              <!--<% end %>-->
                          <!--<% else %>-->
                          <!--<label><%=am%>:00 PM</label>-->
                          <!--<% (1..4).each do |amID| %>-->
                              <!--<button class = 'unfilled', id = 'timeAct<%=activity.id%><%=am%><%=amID%>', onclick="changeImages(this.id,<%=activity.id%>)">-->
                              <!--</button>-->
                              <!--<% end %>-->
                          <!--<% end %>-->

                      <!--<% end %>-->

                  <!--<% (13..23).each do |pm| %>-->
                      <!--<label><%=pm-12%>:00 PM</label>-->
                      <!--<% (1..4).each do |pmID| %>-->
                          <!--<button class = 'unfilled', id = 'timeAct<%=activity.id%><%=pm%><%=pmID%>', onclick="changeImages(this.id)">-->
                          <!--</button>-->
                          <!--<% end %>-->
                      <!--<% end %>-->
                  <!--</label>-->
                  <!--&lt;!&ndash; THIS IS TO DISPLAY TOTAL TIME &ndash;&gt;-->
                  <!--<label id="total_time<%=activity.id%>" class ='total_time_display'><%=activity.total_time%> minutes</label>-->
                  <!--#######################################################################-->

                </li> <!-- End of list item -->
              </div>
          <% end %> <!--End of user if statement-->
      <% end %> <!-- End of hidden if statement -->
  <% end %> <!-- End of activity loop -->
</ul>