<!--<h1>Time Tracker</h1>
<li><%= link_to 'Login', login_new_path %></li> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap 101 Template</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TimeTracker</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Activities<span class="sr-only">(current)</span></a></li>
      </ul>
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Signed in as Admin</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Account Settings</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<nav aria-label="...">
  <ul class="pager">

    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span>Previous </a></li>
    <li class="next"><a href="#"> Next<span aria-hidden="true">&rarr;</span></a></li>

    <div class="panel-body">

      <div class="panel-body">
        <h2>Activities</h2>

        <% @activities.each do |activity| %>

            <div class = "row text-center">
              <div class = 'col-md-4'>
                <h3>
                  <%= activity.a_name %>
                </h3>
              </div>
              <div class = 'col-md-4'>
              </div>
              <div class="bubbles">
                <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled")%>
                <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled", :style => "display:none")%>
              </div>
              <div class ='col-md-4'>
                <h3>
                  <%= activity.total_time %>
                </h3>
              </div>
            </div>

      <% end %>
      </div>
      <div class="btn-group" role="group" aria-label="...">
        <a href="new" class="btn_act">AddActivity</a>
      </div>
    </div>
  </ul>
</nav>
<script type="text/javascript">
    $(document).ready(function(){
        $("#unfilled").click(function(){
            if($("#unfilled").attr("src") == "<%=asset_path('unfilledbubble.png')%>"){
                $("#unfilled").attr("src", "<%=asset_path('filledbubble.png')%>");
                $.ajax({
                    url: '/activities/increment',
                    type: 'put'
                });
            }else{
                $("#unfilled").attr("src", "<%=asset_path('unfilledbubble.png')%>");
                $.ajax({
                    url: '/activities/decrement',
                    type: 'put'
                });
            }
        });
    });
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
