<!--<h1>Time Tracker</h1>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Bootstrap 101 Template</title>
  <link rel='stylesheet' type='text/css' href='../stylesheets/bootstrap.min.css'/>
  <script src='../javascripts/bootstrap.min.js'></script>
  <!-- Bootstrap -->
  <!--<link href="css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <![endif]-->
  <!-- styles needed by jScrollPane -->
  <link type="text/css" href="../stylesheets/jquery.jscrollpane.css" rel="stylesheet" media="all" />

  <!-- latest jQuery direct from google's CDN -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
  </script>

  <!-- the mousewheel plugin - optional to provide mousewheel support -->
  <script type="text/javascript" src="../javascripts/jquery.mousewheel.js"></script>

  <!-- the jScrollPane script -->
  <script type="text/javascript" src="../javascripts/jquery.jscrollpane.min.js"></script>
</head>
<body>
<!--
<style>
.navbar {
  background-color:#2F4F4F
}
</style>
-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TimeTracker</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Activities<span class="sr-only">(current)</span></a></li>
      </ul>
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Signed in as Admin</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <!--
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            -->
            <li role="separator" class="divider"></li>
            <li><a href="#">Account Settings</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<nav aria-label="...">

  <h1 align = "center">Activities</h1>
  <div class="activity">
  <% @activities.each do |activity| %>
        <div align = 'center'>
          <%= activity.a_name %>
          <div class="times">
        <div class="12pm" style="float:left">
          &nbsp;
          <b>12:00 PM</b>
          &nbsp;
        </div>
        <div class="1pm" style="float:left">
          &nbsp;&nbsp;&nbsp;
          <b>1:00 PM</b>
          &nbsp;
        </div>
        <div class="2pm" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>2:00 PM</b>
          &nbsp;
        </div>
        <div class="3pm" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>3:00 PM</b>
          &nbsp;
        </div>
        <div class="4pm" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>4:00 PM</b>
          &nbsp;
        </div>
        <div class="5pm" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>5:00 PM</b>
          &nbsp;
        </div>
        <div class="6pm" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <b>6:00 PM</b>
          &nbsp;
        </div>
        <div class="7pm" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>7:00 PM</b>
          &nbsp;
        </div>
        <div class="8pm" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>8:00 PM</b>
          &nbsp;
        </div>
        <div class="9pm" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>9:00 PM</b>
          &nbsp;
        </div>
        <div class="10pm" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>10:00 PM</b>
          &nbsp;
        </div>
        <div class="11pm" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>11:00 PM</b>
          &nbsp;
        </div>
        <div class="12am" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>12:00 AM</b>
          &nbsp;
        </div>
        <div class="1am" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>1:00 AM</b>
          &nbsp;
        </div>
        <div class="2am" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>2:00 AM</b>
          &nbsp;
        </div>
        <div class="3am" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>3:00 AM</b>
          &nbsp;
          </div>
        <div class="4am" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>4:00 AM</b>
          &nbsp;
        </div>
        <div class="5am" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>5:00 AM</b>
          &nbsp;
        </div>
        <div class="6am" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>6:00 AM</b>
          &nbsp;
        </div>
        <div class="7am" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>7:00 AM</b>
          &nbsp;
        </div>
        <div class="8am" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>8:00 AM</b>
          &nbsp;
        </div>
        <div class="9am" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>9:00 AM</b>
          &nbsp;
        </div>
        <div class="10am" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>10:00 AM</b>
          &nbsp;
        </div>
        <div class="11am" style="float:left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>11:00 AM</b>
          &nbsp;
        </div>
          </div>
          <div>
          <div style="float:left">
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled1", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled1", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled2", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled2", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled3", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled3", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled4", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled4", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled5", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled5", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled6", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled6", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled7", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled7", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled8", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled8", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled9", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled9", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled10", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled10", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled11", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled11", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled12", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled12", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled13", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled13", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled14", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled14", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled15", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled15", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled16", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled16", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled17", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled17", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled18", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled18", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled19", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled19", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled20", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled20", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled21", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled21", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled22", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled22", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled23", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled23", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled24", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled24", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled25", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled25", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled26", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled26", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled27", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled27", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled28", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled28", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled29", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled29", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled30", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled30", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled31", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled31", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled32", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled32", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled33", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled33", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled34", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled34", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled35", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled35", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled36", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled36", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled37", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled37", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled38", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled38", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled39", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled39", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled40", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled40", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled41", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled41", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled42", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled42", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled43", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled43", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled44", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled44", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled45", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled45", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled46", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled46", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled47", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled47", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled48", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled48", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled49", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled49", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled50", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled50", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled51", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled51", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled52", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled52", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled53", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled53", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled54", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled54", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled55", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled55", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled56", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled56", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled57", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled57", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled58", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled58", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled59", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled59", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled60", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled60", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled61", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled61", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled62", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled62", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled63", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled63", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled64", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled64", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled65", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled65", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled66", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled66", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled67", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled68", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled69", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled69", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled70", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled70", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled71", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled71", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled72", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled72", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled73", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled73", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled74", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled74", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled75", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled75", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled76", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled76", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled77", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled77", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled78", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled78", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled79", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled79", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled80", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled80", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled81", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled81", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled82", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled82", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled83", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled83", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled84", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled84", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled85", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled85", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled86", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled86", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled87", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled87", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled88", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled88", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled89", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled89", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled90", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled90", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled91", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled91", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled92", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled92", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled93", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled93", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          <div style="float:left">
            &nbsp;&nbsp;
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled94", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled94", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled95", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled95", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled96", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled96", :onclick=>"changeImg(img)", :style => "display:none")%>
            <%= image_tag("unfilledbubble.png", :size => "15x15", :id =>"unfilled97", :onclick=>"changeImg(img)")%>
            <%= image_tag("filledbubble.png", :size => "15x15", :id => "filled97", :onclick=>"changeImg(img)", :style => "display:none")%>
          </div>
          </div>
        </div>
      </div>
        </div>
<% end %>

  <h1 align = "center">Categories</h1>

  <% @categories.each do |cats| %>
      <h3 align = 'center'>
        <%= cats.c_name %>
      </h3>
  <% end %>

  <div class="panel-group">
    <div class="panel-body">
    </div>
    <div class="panel-group">
      <div class="panel text-center">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">Collapsible list group</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <ul class="list-group">
            <li class="list-group-item">
              <h1>ONE</h1>
            </li>
            <li class="list-group-item">Two</li>
            <li class="list-group-item">Three</li>
          </ul>
          <div class="panel-footer">Footer</div>
        </div>
      </div>

    </div>
  </div>


  <ul class="pager">

    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span>Previous </a></li>
    <li class="next"><a href="#"> Next<span aria-hidden="true">&rarr;</span></a></li>
    <button onclick="hideActivityRender()">Add Activity</button>
    <button onclick="hideCategoryRender()">Add Category</button>
  </ul>


  <div id = 'ActRend' style="display:none">
      <div class = 'text-center'>
        <h3>Activity Name</h3>
        <%= render 'activities/new'%>
      </div>
    </div>


  <div id = 'CategoryRend' style="display:none">
    <div class = 'container'>
      <div class = 'text-center'>
        <h3>Category Name</h3>
      </div>
      <%= render 'categories/new'%>
    </div>
  </div>


</nav>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        function changeImg(img) {
            if (document.getElementByID(img).src == "<%=asset_path('unfilledbubble.png')%>") {
                img = "<%=asset_path('filledbubble.png')%>";
            }
            else {
                img = "<%=asset_path('_unfilledbubble.png')%>";
            }
        }
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $(function () {
            $('.scroll-pane').jScrollPane({showArrows: true});
        });
    });

</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<script>
    function hideActivityRender(){
        var x = document.getElementById('ActRend');
        if (x.style.display == 'block'){
            x.style.display = 'none';
        }
        else{
            x.style.display = 'block'
        }
    }

    function hideCategoryRender(){
        var x = document.getElementById('CategoryRend');
        if (x.style.display == 'block'){
            x.style.display = 'none';
        }
        else{
            x.style.display = 'block'
        }
    }
</script>

</body>
</html>


<!-- Display activities -->
<div id="activity_container">
  <ul class="list-group-sortable" id="Activities" >
    <h1 align = "center">Activities</h1>

    <!-- List each activity in database -->
    <%  @activities.each do |activity| %>
        <% if activity.hidden == false || activity.hidden == nil %>
            <li class="list-group-item" id="item" style="list-style: none;">


              <!-- Display activity name -->
              <div id="parent">
                <div class="first_child">
                  <label class="my_label"><%= activity.a_name %></label>
                </div>

                <div class="second_child">
                  <!-- Delete Activity -->
                  <%= link_to activity, method: :delete, data: { confirm: "Are you sure?" } do %>
                      <i class="fa fa-trash-o" aria-hidden="true" title="Delete"></i>
                  <% end %>

                  <!-- Edit activity -->
                  <!-- link_to 'edit activity', edit_activity_path(activity) do %>-->
                  <button class="editActivity" style="border:none; padding:0; background-color: transparent">
                    <i class="fa fa-pencil fa-fw" aria-hidden="true" title="Edit" id="editActivity"></i>
                  </button>
                  <!-- end %>-->

                  <!-- Hide activity -->
                  <%= link_to activity, method: :post, :controller => :activities, :action => :set_hidden_true, :id => 'hideActivity' do %>
                        <i class="fa fa-eye" aria-hidden="true" title="Hide" id="item"></i>
                  <% end %>
                </div> <!-- end of second_child div -->
              </div> <!-- end of parent div -->
            </li> <!-- End of list item -->
        <% end %> <!-- End of if statement -->
    <% end %> <!-- End of activity loop -->
  </ul>
</div>


<%= link_to 'Unhide All', method: :post, :controller => :activities, :action => :unhide_all do %>
    <button class="showHidden" >Show Hidden</button>
<% end %>

<ul class="pager">

  <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span>Previous </a></li>
  <li class="next"><a href="#"> Next<span aria-hidden="true">&rarr;</span></a></li>

  <!-- *****************NEW*********************** -->
  <%= form_for @activity, remote: true do |a| %>
      <%= a.text_field :a_name, id: 'a_name_field', placeholder: 'Activity Name'%>
      <%= a.select :category_id, Category.all.collect { |c| [c.c_name, c.id] }, include_blank: true %>
      <%= a.submit 'Create', id: 'submitButton', class: 'btn btn-primary'%>
  <% end %>

  <%= form_for @category, :url => create_cat_path, remote: true do |c| %>
      <%= c.text_field :c_name, id: 'c_name_field', placeholder: 'Category Name'%>
      <%= c.submit 'Create', id: 'submitButton', class: 'btn btn-primary'%>
  <% end %>

  <!-- ***************************************** -->

</ul>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!-- NEW 3/23 -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script>

<script src="jquery.sortable.js"></script>
<script>
    $( function() {
        $('#Activities').sortable({
            containment: '#activity_container',
            cursorAt: {left:event.offsetX, top:event.offsetY}, //to keep item near cursor NOT WORKING
            update: function (event, ui) { //to save order NOT WORKING
                var data = $(this).sortable('serialize');
                // POST to server using $.post or $.ajax. May or may not be deleted
                $.ajax({
                    data: data,
                    type: 'POST',
                    url: 'localhost:3000/activities'
                });
            }
        });
        $('#Activities').disableSelection();
    });

    //Edit Activity
    $('#Activities li .editActivity').click(function() {
        var name = $(this).closest('li').text();
        $('span').text("text is: " + name);
        var input = $('<input id="attribute" class="textbox" type="text" value="' + name + '" />')
        $(this).closest('li').append(input);
        input.select();
        input.blur(function(event) {
            var text = $('input:text').val();
            $('span').text("text is: " + text);
//            $(event.target).closest('li').find('label').css( "background-color", "red" ).text(text);
            $(event.target).closest('li').find('label').text(text);
            $('#attribute').remove(); //removes the newly created text box
            //ajax request to update database
            $(document).ajaxError(function(){
                alert("Error with AJAX call!");
                alert($(this).closest('li').attr('id'));
            });
            $.ajax({
                method: 'PUT',
                url: '/activities/' + id,
                data: { a_name: text}
            });
        });
    });


    $('#Activities li .hideActivity').on('click', function () {
        var index = $('#Activities li .hideActivity').index(this);
        $(this).closest('li').hide();//deletes everything //$(this).hide('li') deletes logo //$(this).closest('li').hide() only deletes first one
            $('span').text("That was .hideActivity index #" + index);
    });
</script>


</body>
</html>
