<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Bootstrap 101 Template</title>
  <link rel='stylesheet' type='text/css' href='../stylesheets/bootstrap.min.css'/>
  <script src='../javascripts/bootstrap.min.js'></script>
</head>
<body>
<!--
<style>
.navbar {
  background-color:#2F4F4F
}
</style>
-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TimeTracker</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Activities<span class="sr-only">(current)</span></a></li>
      </ul>
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Signed in as Admin</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <!--
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            -->
            <li role="separator" class="divider"></li>
            <li><a href="#">Account Settings</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- TODO find file -->

<span>For Testing: Change This</span>

<!-- Display activities -->
<div id="activity_container">
  <ul class="list-group-sortable" id="Activities" >
    <h1 align = "center">Activities</h1>

      <!-- List each activity in database -->
      <% @activities.each do |activity| %>
        <li class="list-group-item" id="item" style="list-style: none;">

          <!-- text boxes show upon edit button click -->
          <!--<input type="text" class="edit" />-->
          <!--<input type="button" value="rename" class="showButton"/> -->

          <!-- Display activity name -->
          <%= activity.a_name %>

          <!-- Delete Activity -->
          <%= link_to activity, method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash-o" aria-hidden="true" title="Delete"></i>
          <% end %>

          <!-- Edit activity -->
          <i onclick="editClick()" class="fa fa-pencil fa-fw" aria-hidden="true" title="Edit" id="editActivity"></i>

          <!-- Hide activity -->
          <%= link_to activity, :controller => :activities, :action => :set_hidden_true, method: :put do %>
              <button class="hideActivity" style="border:none; padding:0">
                <i class="fa fa-eye" aria-hidden="true" title="Hide" id="item"></i>
              </button>
          <% end %>

        </li> <!-- End of list item -->
      <% end %> <!-- End of activity loop -->
  </ul>
</div>

  <!-- text box and button to create activity -->
  <%= form_for @activity do |a| %>
      <%= a.text_field :a_name, id: 'a_name_field', placeholder: 'Activity Name'%>

      <%= a.submit 'Create', id: 'submitButton', class: 'btn btn-primary'%>
  <% end %>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!-- NEW 3/23 -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script>

<script src="jquery.sortable.js"></script>
<script>
    $( function() {
        $('#Activities').sortable({
            containment: '#activity_container',
            cursorAt: {left:event.offsetX, top:event.offsetY}, //to keep item near cursor NOT WORKING
            update: function (event, ui) { //to save order NOT WORKING
                var data = $(this).sortable('serialize');

                // POST to server using $.post or $.ajax
                $.ajax({
                    data: data,
                    type: 'POST',
                    url: 'localhost:3000/activities'
                });
            }
    });
        $('#Activities').disableSelection();
    });



    //<input type="text" class="rename"/> <!--***NEW to edit -->
    //<input type="button" value="rename"/> <!--***NEW to edit -->
    var chosenValue;
    var chosenIndex;
    var newValue;
//    $('li').click(function(){ //new for edit***
//
//        $(this).addClass('active').siblings("li").removeClass('active'); //makes one of them active and other list items inactive
//        chosenValue = $(this).text();
//        chosenIndex = $(this).index();
//        $(".rename").show().val(chosenValue);
//
//    });
//
//    $("input[type=button]").click(function(){ //new for edit**
//        newValue = $(".rename").val();
//        $("li:nth-of-type("+chosenIndex+")").text(newValue);
//    });

    //NEW 3/28
//    function editClick(){
//    $('.edit').hide();
//    $('.showButton').hide();
//    $("li").click(function() {
//        var index = $('li').index(this);
//        $('.edit').show();
//        $('.showButton').show();
//
////        $('.edit').eq(index).show();
////        $('.showButton').eq(index).show();
//        $(this).addClass('active').siblings("li").removeClass('active');//makes one of them active and other list items inactive
//        chosenValue = $(this).text();
//        chosenIndex = $(this).index();
////        $(".edit").show().val(chosenValue);
//    });
//
//    $("input[class=showButton]").click(function(){
//        newValue = $(".edit").val();
//        $("li:nth-of-type("+chosenIndex+")").text(newValue);
//    });
//    };

    //New 3/29 hide activity
//    $( 'li' ).click(function() {
//
//        var index = $('li').index();
//        $('li').eq(index).hide();
//        $('span').text("That was li index #" + index);
//    });

        $('#Activities li .hideActivity').click(function () {
            var index = $('#Activities li .hideActivity').index(this);
            $(this).closest('li').hide();//deletes everything //$(this).hide('li') deletes logo //$(this).closest('li').hide() only deletes first one

//            $('span').text("That was .hideActivity index #" + index);
        });

</script>

</body>
</html>
