<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Bootstrap 101 Template</title>
  <link rel='stylesheet' type='text/css' href='../stylesheets/bootstrap.min.css'/>
  <script src='../javascripts/bootstrap.min.js'></script>
</head>
<body>
<!--
<style>
.navbar {
  background-color:#2F4F4F
}
</style>
-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TimeTracker</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Activities<span class="sr-only">(current)</span></a></li>
      </ul>
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Signed in as Admin</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <!--
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            -->
            <li role="separator" class="divider"></li>
            <li><a href="#">Account Settings</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- TODO find file -->

<span>For Testing: Change This</span>

<!-- Display activities -->
<div id="activity_container">
  <ul class="list-group-sortable" id="Activities" >
    <h1 align = "center">Activities</h1>

      <!-- List each activity in database -->
      <%  @activities.each do |activity| %>
        <% if activity.hidden == false || activity.hidden == nil %>
        <li class="list-group-item" id="item" style="list-style: none;">


          <!-- Display activity name -->
          <div id="parent">
            <div class="first_child">
              <label class="my_label"><%= activity.a_name %></label>
            </div>

          <div class="second_child">
          <!-- Delete Activity -->
          <%= link_to activity, method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash-o" aria-hidden="true" title="Delete"></i>
          <% end %>

          <!-- Edit activity -->
         <!-- link_to 'update_activity', method: :post, :controller => :activities, :action => :update, :id => :id do %> -->
              <button class="editActivity" style="border:none; padding:0; background-color: transparent">
                <i class="fa fa-pencil fa-fw" aria-hidden="true" title="Edit" id="editActivity"></i>
              </button>
         <!--  end %> -->

          <!-- Hide activity -->
          <%= link_to activity, method: :post, :controller => :activities, :action => :set_hidden_true do %>
              <button class="hideActivity" style="border:none; padding:0; background-color: transparent">
                <i class="fa fa-eye" aria-hidden="true" title="Hide" id="item"></i>
              </button>
          <% end %>
          </div> <!-- end of second_child div -->
          </div> <!-- end of parent div -->
        </li> <!-- End of list item -->
        <% end %> <!-- End of if statement -->
      <% end %> <!-- End of activity loop -->
  </ul>
</div>

  <!-- text box and button to create activity -->
  <%= form_for @activity do |a| %>
      <%= a.text_field :a_name, id: 'a_name_field', placeholder: 'Activity Name'%>
      <%= a.submit 'Create', id: 'submitButton', class: 'btn btn-primary'%>
  <% end %>

  <!-- Button for showing all hidden items -->
  <%= link_to 'Unhide All', method: :post, :controller => :activities, :action => :unhide_all do %>
  <button class="showHidden" >Show Hidden</button>
    <% end %>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!-- NEW 3/23 -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script>

<script src="jquery.sortable.js"></script>
<script>
    $( function() {
        $('#Activities').sortable({
            containment: '#activity_container',
            cursorAt: {left:event.offsetX, top:event.offsetY}, //to keep item near cursor NOT WORKING
            update: function (event, ui) { //to save order NOT WORKING
                var data = $(this).sortable('serialize');

                // POST to server using $.post or $.ajax
//                $.ajax({
//                    data: data,
//                    type: 'POST',
//                    url: 'localhost:3000/activities'
//                });
            }
    });
        $('#Activities').disableSelection();
    });


        //Edit Activity
    $('#Activities li .editActivity').click(function() {
        var name = $(this).closest('li').text(); //correctly gets text just adds a bunch of white spaces
        $('span').text("text is: " + name);
        var input = $('<input id="attribute" class="textbox" type="text" value="' + name + '" />')
        $(this).closest('li').append(input); //puts textbox on the name will need to find exact combination for specific
        input.select(); //lets you highlight

        input.blur(function(event) {
            var text = $('input:text').val();
            $('span').text("text is: " + text);

//            $(event.target).closest('li').find('label').css( "background-color", "red" ).text(text);
            $(event.target).closest('li').find('label').text(text);
            $('#attribute').remove(); //removes the newly created text box
            update_name(text); //updates to database
        });
    });

    function update_name(){ //updates changed name to database
//        var name = $('#ref').val();
        var name = text;
        var url = '/activities/update/?a_name='+name;
        $.ajax({
            type: 'post',
            url: url,
            dataType: 'script',
            error: function(data){
                alert('Error occurred while updating the record.');
            },
            success: function(data){
                alert('Record updated successfully.');
            },
            });
        return false;
    }



        //Hide Activity
        $('#Activities li .hideActivity').click(function () {
            var index = $('#Activities li .hideActivity').index(this);
            $(this).closest('li').hide();
//            $.ajax({
//                url: '/activities/set_hidden_true',
//                type: 'PUT',
//                data: {hidden: true},
//                success: function() { alert('Hidden item updated') }
//            });
//            $('span').text("That was .hideActivity index #" + index);
        });

        //shows hidden elements
        $('.showHidden').click(function () {
            $('li').show();
        });
</script>

</body>
</html>