<!DOCTYPE html>
<html>
<head>
  <title>TimeTracker</title>
  <%= csrf_meta_tags %>

<<<<<<< HEAD
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
=======
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
>>>>>>> cd84a5d73a4862dec852b95d742ee0061a298f2f
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!-- need to render shared file -->
  <%= yield %>
</body>
</html>